<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="container">
        <form action="/create" method="post" class="spotify-form">
            <h2>Create Account</h2>
            <input type="text" placeholder="Username" name="username" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="number" placeholder="Age" name="age">
            <button type="submit">Create Account</button>
        </form>
    </div>

</body>
</html>
