<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="container">
        <form action="/login" method="post" class="spotify-form">
            <h2>Login Account </h2>
           
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
           
            <button type="submit">Log in Account</button>
        </form>
    </div>

</body>
</html>
